{% extends 'base.html.twig' %}

{% block title %}ActParams index{% endblock %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Liste des actes de naissances</h3>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Param</th>
                    <th>Groupe</th>
                    <th>Ordre</th>
                    <th>Type</th>
                    <th>Valeur</th>
                    <th>Libelle</th>
                </tr>
                </thead>
                <tbody>
                {% for certificate in certificates %}
                    <tr>
                        <td>
                            <a href="{{ path('geneacte_certificate_birth_show', {'uuid': certificate.uuid}) }}">
                                {{ certificate.uuid }}
                            </a>
                        </td>
                        <td>{{ certificate.commune }}</td>
                        <td>{{ certificate.t1Nom }}</td>
                        <td>{{ certificate.t1Pre }}</td>
                        <td>{{ certificate.datetxt }}</td>
                        <td class="text-muted">{{ certificate.deposant }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
