{% extends '@ExpoActe/base.html.twig' %}

{% block title %}Parcourir les actes{% endblock %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Parcourir les actes de {{ certificateType.label }}</h3>
        <div class="card-body">

            <h4 class="text-success">Commune/Paroisse : {{ summary.commune }} {{ summary.depart }}</h4>

            <p class="text-muted">{{ geolocation.noteByCertificateType(certificateType.value) }}</p>

            <table class="table table-bordered">
                <tr>
                    <th>Patronymes</th>
                    <th>Période</th>
                    <th>Intervenant 1</th>
                    <th>Intervenant 2</th>
                    <th>Nb actes</th>
                </tr>
                {% for row in data %}
                    <tr>
                        <td>
                            <a href="{{ path('expoacte_certificate_browse', {'id':0}) }}">{{ row.nom }}</a>
                        </td>
                        <td>
                            {{ row.minYear }} {% if row.minYear != row.maxYear %} à {{ row.maxYear }}{% endif %}
                        </td>
                        <td>?</td>
                        <td>?</td>
                        <td>{{ row.count }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
{% endblock %}
