{{ form_start(form) }}
{% for group in labelGroups %}
    {% if group.fields|length > 0 %}
        <h4 class="text-success">{{ group.getiq }}</h4>
        <span class="text-muted">Nom original: {{ group.labelGroupEnum.label }} </span>
        <hr>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Zone</th>
                <th>Document</th>
                <th>Etiquette</th>
            </tr>
            </thead>
            {% for field in group.fields %}
                {% set metaLabel = field.vars.value %}
                <tr>
                    <td>
                        {{ metaLabel.metaDb.zone }}
                    </td>
                    <td>{{ form_row(field.labelDocumentEnum) }}</td>
                    <td>{{ form_row(field.etiq) }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endfor %}
<button class="btn btn-primary" type="submit"><i class="ti ti-device-floppy"></i> Sauvegarder</button>
{{ form_end(form) }}