{{ form_start(form) }}
{{ form_errors(form) }}
    {% for labelGroup in labelGroups %}
        {% if labelGroup.fields|length > 0 %}
            <div class="d-flex flex-row gap-4">
                <h4 class="text-info">{{ labelGroup.getiq }}</h4>
                <a href="{{ path('expoacte_label_group_edit', {'id': labelGroup.id}) }}" title="Renommer">
                    <i class="ti ti-pencil"></i>
                </a>
                <span class="text-muted">Groupe: {{ labelGroup.labelGroupEnum.label }} </span>
            </div>
            <hr>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Zone</th>
                    <th>Document</th>
                    <th>Etiquette</th>
                </tr>
                </thead>
                {% for metaLabelFormView in form.metasLabel %}
                    {% set metaLabel = metaLabelFormView.vars.value %}
                    {% set group = metaLabel.metaDb.groupe %}

                    {% if labelGroup.grp == group %}
                        <tr>
                            <td>
                                {{ metaLabel.metaDb.zone }}
                            </td>
                            <td>{{ form_row(metaLabelFormView.labelDocumentEnum) }}</td>
                            <td>{{ form_row(metaLabelFormView.etiq) }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% endif %}
    {% endfor %}
<button class="btn btn-primary" type="submit"><i class="ti ti-device-floppy"></i> Sauvegarder</button>
{{ form_end(form) }}