<div class="row">
    <div class="col-6">

        <table class="table table-bordered">
            <tr>
                <th>Zone</th>
                <td>{{ meta.zone }}</td>
            </tr>
            <tr>
                <th>Table</th>
                <td>{{ meta.dtable }}</td>
            </tr>
            <tr>
                <th>Groupe</th>
                <td>{{ meta.groupe }}</td>
            </tr>
            <tr>
                <th>Bloc</th>
                <td>{{ meta.bloc }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ meta.typ }}</td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        <table class="table table-bordered">
            <tr>
                <th>Taille</th>
                <td>{{ meta.taille }}</td>
            </tr>
            <tr>
                <th>Obligatoire</th>
                <td>{{ meta.oblig }}</td>
            </tr>
            <tr>
                <th>Affichage</th>
                <td>{{ meta.affich }}</td>
            </tr>
            <tr>
                <th>Ov2</th>
                <td>{{ meta.ov2 }}</td>
            </tr>
            <tr>
                <th>Ov3</th>
                <td>{{ meta.ov3 }}</td>
            </tr>
        </table>
    </div>
</div>