<table class="table table-bordered">
    <tr>
        <th>Groupe</th>
        <th>Bloc</th>
        <th>Type</th>
        <th>Taille</th>
        <th>Obligatoire</th>
    </tr>
    <tr>
        <td>{{ meta.groupe }}</td>
        <td>{{ meta.bloc }}</td>
        <td>{{ meta.type }}</td>
        <td>{{ meta.taille }}</td>
        <td>{{ meta.oblig }}</td>
    </tr>
</table>