{% extends '@ExpoActe/base.html.twig' %}

{% block title %}ActParams index{% endblock %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Labels</h3>
        <div class="card-body">

            <h3 class="text-success">Groupes</h3>
            <ul class="list-group list-group-horizontal">
                {% for groupe in groupes %}
                    <li class="list-group-item">
                        {{ groupe.getiq }}
                        <strong>{{ groupe.grp }}</strong><br/><strong>{{ groupe.grp|group_name }}</strong>
                    </li>
                {% endfor %}
            </ul>

            {% for group in groupes %}
                <h3 class="text-success">
                    Groupe {{ group.getiq }} | <span class="text-muted">{{ group.grp|group_name }}</span>
                </h3>
                {% for meta in group.metas %}
                    <h4 class="text-secondary">{{ meta.label.etiq }}</h4>
                    {% include '@ExpoActe/label/_meta_db_line.html.twig' %}
                {% endfor %}

            {% endfor %}


        </div>
    </div>

{% endblock %}