{% extends '@ExpoActe/base.html.twig' %}

{% block title %}Etiquettes{% endblock %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Etiquettes</h3>
        <div class="card-body">

            <ul class="list-group list-group-horizontal mb-3">
                {% for group in groups %}
                    <li class="list-group-item">
                        <a href="{{ path('expoacte_label_index', {'name':group.value}) }}">
                            {{ group.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <h4 class="text-success my-3" id="{{ type.value }}">
                <a href="{{ path('expoacte_label_show', {'type': type.value}) }}">{{ type.label }}</a>
            </h4>
            <hr>
            {% for item in data %}
                <h5 class="text-success my-3" id="{{ item.group.value }}">{{ item.group.label }}</h5>
                {% for meta in item.metas %}
                    <h6 class="text-warning">{{ meta.metaLabel.etiq }}</h6>
                    {% include '@ExpoActe/label/_meta_db_line.html.twig' %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>

{% endblock %}