{% extends '@ExpoActe/base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header d-flex flex-row align-items-center justify-content-between">
            <h3>Liste des articles</h3>
            <a href="{{ path('expoacte_article_new') }}" class="btn btn-primary btn-sm my-3">
                <i class="ti ti-plus"></i> Ajouter un article
            </a>
        </div>
        <div class="card-body">

            {% include '@ExpoActe/article/_form_search.html.twig' %}

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.name }}</td>
                        <td>
                            <a href="{{ path('expoacte_article_show', {'id': article.id}) }}">show</a>
                            <a href="{{ path('expoacte_article_edit', {'id': article.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}