{{ form_start(form) }}
{{ form_errors(form) }}
<h4 class="text-success">Acte de mariage</h4>
{{ form_row(form.codcom) }}
{{ form_row(form.commune) }}
{{ form_row(form.coddep) }}
{{ form_row(form.depart) }}
{{ form_row(form.datetxt) }}
{{ form_row(form.drepub) }}
<h4 class="text-success">Nouveau-né</h4>
{{ form_row(form.nom) }}
{{ form_row(form.pre) }}
{{ form_row(form.com) }}
<h4 class="text-success">Parents</h4>
{{ form_row(form.p_nom) }}
{{ form_row(form.p_pre) }}
{{ form_row(form.p_com) }}
{{ form_row(form.p_pro) }}
{{ form_row(form.m_nom) }}
{{ form_row(form.m_pre) }}
{{ form_row(form.m_com) }}
{{ form_row(form.m_pro) }}
<h4 class="text-success">Témoins</h4>
{{ form_row(form.t1_nom) }}
{{ form_row(form.t1_pre) }}
{{ form_row(form.t1_com) }}
{{ form_row(form.t2_nom) }}
{{ form_row(form.t2_pre) }}
{{ form_row(form.t2_com) }}
<h4 class="text-success">Références</h4>
{{ form_row(form.cote) }}
{{ form_row(form.libre) }}
{{ form_row(form.comgen) }}
{{ form_row(form.photos) }}
<h4 class="text-success">Crédits</h4>
{{ form_row(form.deposant) }}
{{ form_row(form.photogra) }}
{{ form_row(form.releveur) }}
{{ form_row(form.verifieu) }}
<button class="btn btn-primary"><i class="ti ti-device-floppy"></i> Sauvegarder</button>
{{ form_end(form) }}
