{% set action = app.request.attributes.get("_route") %}
<li>
    <a href="{{ path('expoacte_certificat_select_type') }}" class="nav-link px-2 link-dark">
        <i class="ti ti-plus"></i> Ajouter un acte
    </a>
</li>
<li>
    <a href="{{ path('expoacte_certificate_index') }}" class="nav-link px-2 link-dark">
        <i class="ti ti-search"></i> Actes
    </a>
</li>
<li>
    <a href="{{ path('expoacte_label_index') }}" class="nav-link px-2 link-dark">
        <i class="ti ti-list"></i> Labels
    </a>
</li>
<li>
    <a href="{{ path('expoacte_user_index') }}" class="nav-link px-2 link-dark">
        <i class="ti ti-list"></i> Utilisateurs
    </a>
</li>
<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <i class="ti ti-dots-vertical"></i> <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('expoacte_parameter_index') }}" class="dropdown-item">
                Paramètres
            </a>
        </li>
        <li>
            <a href="https://expoactes.monrezo.be/"
               class="dropdown-item" target="_blank">
                Expoactes.monrezo.be
            </a>
        </li>
    </ul>
</li>