{% set action = app.request.attributes.get("_route") %}
<li>
    <a href="{{ path('expoacte_certificat_admin_select_type') }}" class="nav-link px-2 link-dark">
        <i class="ti ti-plus"></i> Ajouter un acte
    </a>
</li>
<li>
    <a href="{{ path('expoacte_certificate_index') }}" class="nav-link px-2 link-dark">
        <i class="ti ti-search"></i> Consulter les actes
    </a>
</li>
<li>
    <a href="{{ path('expoacte_certificate_admin_index') }}" class="nav-link px-2 link-dark">
        <i class="ti ti-database-edit"></i> Gestion des actes
    </a>
</li>
<li>
    <a href="{{ path('expoacte_geolocation_index') }}" class="nav-link px-2 link-dark">
        <i class="ti ti-list"></i> Les localités
    </a>
</li>
<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <i class="ti ti-dots-vertical"></i> <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('expoacte_user_index') }}" class="dropdown-item">
                <i class="ti ti-users"></i> Utilisateurs
            </a>
        </li>
        <li>
            <a href="{{ path('expoacte_article_index') }}" class="dropdown-item">
                <i class="ti ti-list"></i> Articles
            </a>
        </li>
        <li>
            <a href="{{ path('expoacte_label_index') }}" class="dropdown-item">
                <i class="ti ti-tag"></i> Etiquettes
            </a>
        </li>
        <li>
            <a href="{{ path('expoacte_parameter_index') }}" class="dropdown-item">
                <i class="ti ti-settings"></i> Paramètres
            </a>
        </li>
    </ul>
</li>