{% extends '@ExpoActe/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Ajout d'un acte de {{ certificateType.label }}. Sélection de la commune</h3>

        <div class="card-body">
            <form method="post"
                  action="{{ path('expoacte_certificate_certificate_new', {'type':certificateType.value}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('fichenew') }}">
                {{ component('SearchLiveMunicipality',{'certificateType':certificateType.value}) }}
                <button class="btn btn-primary my-3" type="submit">
                    <i class="ti ti-device-floppy" aria-hidden="true"></i> Ajouter
                </button>
            </form>
        </div>
        <div class="card-footer text-end">
            <a href="{{ path('expoacte_certificate_select_type') }}" class="btn btn-secondary">
                <i class="fa fa-arrow-left"></i> Retour
            </a>
        </div>
    </div>
{% endblock %}