{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
    <div class="col-6">
        {{ form_row(form.nom) }}
    </div>
    <div class="col-6">
        {{ form_row(form.prenom) }}
    </div>
</div>
<div class="row">
    <div class="col-6">
        {{ form_row(form.login) }}
        {{ form_row(form.email) }}
    </div>
    <div class="col-6">
        {{ form_row(form.level) }}
        {{ form_row(form.libre) }}
    </div>
</div>
<div class="row">
    <div class="col-6">
        {{ form_row(form.statut) }}
        {{ form_row(form.pt_conso) }}
    </div>
    <div class="col-6">
        {{ form_row(form.solde) }}
        {{ form_row(form.dtexpiration) }}
    </div>
</div>
<div class="row">
    <div class="col-6">
        {{ form_row(form.regime) }}
        {{ form_row(form.rem) }}
    </div>
    <div class="col-6">
        {{ form_row(form.maj_solde) }}
    </div>
</div>
<button class="btn btn-primary" type="submit"><i class="ti ti-device-floppy"></i> Sauvegarder</button>
{{ form_end(form) }}
