{% extends 'base.html.twig' %}

{% block title %}ActParams index{% endblock %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Liste des paramètres</h3>
        <div class="card-body">

            <ul class="list-group list-group-horizontal mb-3">
                {% for groupName,parameters in groupedParameters %}
                    <li class="list-group-item">
                        <a href="#{{ groupName }}">{{ groupName }}</a>
                    </li>
                {% endfor %}
            </ul>

            {% for groupName,parameters in groupedParameters %}
                <h4 class="text-success my-3" id="{{ groupName }}">{{ groupName }}</h4>
                <hr>
                {% for parameter in parameters %}
                    <h5 class="text-secondary">
                       <strong>{{ parameter.libelle }}</strong> |
                        <a href="{{ path('expoacte_parameter_show', {'uuid': parameter.param}) }}">
                            {{ parameter.param }}</a> | {{ parameter.type }}
                    </h5>
                    <p class="text-muted">{{ parameter.aide|raw }}</p>
                    <p class="text-warning">{{ parameter.valeur|raw }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
