{% extends '@ExpoActe/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">{{ user }}</h3>

        <div class="card-body">

            {% include '@ExpoActe/user/_actions.html.twig' %}

            <table class="table table-bordered">
                <tr>
                    <th>Nom d'utilisateur</th>
                    <td>{{ user.userIdentifier }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Niveau d'accès</th>
                    <td>{{ user.level }}</td>
                </tr>
                <tr>
                    <th>Statut</th>
                    <td>{{ user.statut }}</td>
                </tr>
                <tr>
                    <th>Régime</th>
                    <td>{{ user.regime }}</td>
                </tr>
                <tr>
                    <th>Solde</th>
                    <td>{{ user.solde }}</td>
                </tr>
                <tr>
                    <th>Consommé</th>
                    <td>{{ user.ptConso }}</td>
                </tr>
                <tr>
                    <th>Libre</th>
                    <td>{{ user.libre }}</td>
                </tr>
                <tr>
                    <th>Remarque</th>
                    <td>{{ user.rem }}</td>
                </tr>
            </table>
        </div>
        <div class="card-footer">
            Ajouté le {{ user.dtcreation|format_date('full') }} - Rechargé le {{ user.majSolde|format_date('full') }}
            - Expire le {{ user.dtexpiration|format_date('full') }}
        </div>
    </div>
    {{ include('@ExpoActe/user/_delete_form.html.twig') }}
{% endblock %}
