{% extends '@ExpoActe/base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Liste des paramètres</h3>
        <div class="card-body">

            <ul class="list-group list-group-horizontal mb-3">
                {% for group in groups %}
                    <li class="list-group-item">
                        <a href="{{ path('expoacte_parameter_index', {'name':group.groupe}) }}">
                            {{ group.groupe }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <h4 class="text-success my-3" id="{{ groupName }}">{{ groupName }}</h4>
            <hr>
            {% for parameter in parameters %}
                <div class="row">
                    <div class="col-8">
                        <div class="d-flex flex-row gap-2">
                            <h5 class="text-secondary">
                                <strong>{{ parameter.libelle }}</strong>
                            </h5>
                            <a href="{{ path('expoacte_parameter_edit', {'param': parameter.param}) }}"
                               title="Modifier">
                                <i class="ti ti-pencil"></i>
                            </a>
                        </div>
                        <p class="text-muted">{{ parameter.aide|raw }}</p>
                    </div>
                    <div class="col-4">
                        {% if parameter.listval|length > 0 %}
                            <p class="text-warning">{{ parameter.valeur|raw }}</p>
                            <p class="text-muted">
                                {{ parameter|parameter_list|join(' | ') }}
                            </p>
                        {% else %}
                            <p class="text-warning">{{ parameter.valeur|raw }}</p>
                        {% endif %}
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
